name: Go

on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: "v2.6"
          args: --timeout 5m0s

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: E2E test
        run: make e2e-test
